<html>
<head><H1 style="text-align:center;">Order Confirmation list</h1></head>
<style>
	table,th,td{border: 1px solid black;
	}</style>
<table style="width:100%">
  <tr>
    <th>Customer Name</th>
    <th>Items Ordered</th>
    <th>Email-Id</th>
    <th>Phone Number</th>
    <th>Prompts</th>	
    </tr>
  <tr>
    <td>blazi</td>
    <td>brozi grizi</td>
    <td>poopi</td>
    <td>911</td>
    <td><form accept1="acceptpage.html">
	<input type="submit" value="Accept"></form>
	<form reject1="reject.html">
	<input type="submit" value="Reject">
</form>


</form></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
